.card-content{
  padding-left:5%;
  padding-right:5%;
  padding-bottom:5%
}

.animateButtom{
  transition: all 1 ease;
}

h3
{
  font-size:36px;
  margin-bottom:1em;
}

body{
  height:100%;
}

.contatore{
  font-size:150%;
}

.fill-width{
  width:95%;
}

.capitalize{
  text-transform: uppercase;
}

h5{
  margin-bottom:1em;
}
#wait .progress{
  width:70%;
  margin:auto;
}

#wait .determinate{
  width: 0%;
}

.container{
  margin-top:3em;
}

.modal-piccolo{
  max-height: 90%;
  width: 80%;
  border-radius:3px;
}

@media only screen and (min-width: 601px) {
  .modal-piccolo{
    max-height: 90%;
    width: 50%;
  }
}

@media only screen and (min-width: 993px) {
  .modal-piccolo{
    max-height: 70%;
    width: 25%;
  }
}



#collectionCorsiIncompatibili .collection-item,
#collectionCorsiObbligatori .collection-item{
  display:block !important;
}
#collectionCorsiIncompatibili .collection-item.hover:hover,
#collectionCorsiObbligatori .collection-item.hover:hover{
  background-color: #ddd;
}

#total{
  display:flex;
  height:100%;
  flex-direction:column;
  align-items: stretch;
  align-content: stretch;
  min-height: min-content;
  min-height: -webkit-min-content;
}

.wrapper {
  display: flex;
  flex:1 1 auto;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

#side{
  width:20%;
  flex-basis: auto;
  display:flex;
  flex-direction:column;
}

#side .setting-trigger{
  padding:0.8em 1.4em;
  font-size:120%;
  transition: all 0.4s;
  justify-content: space-around;
  display: inline-flex;
  justify-content: flex-start;
  vertical-align: middle;
}

.setting-trigger:hover, .setting-trigger.active{
  background: #e0e0e0;
}

.setting-trigger i{
  margin-right:1em;
}

#main {
  width:80%;
  flex-basis: auto;
  margin:1em;
  padding:1em;
}

.huge{
  font-size:2000%;
}

.big-text{
  font-size:150%;
}

#aspettoBase, #aspettoAvanzato, #cover, #database, #orario{
  display:none;
}
.colorpicker{
  display:flex;
  flex-direction:column;
}

.maincolor{
  display:flex;
  flex-direction: column;
}

.advanced .listaColori{
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding-top:0.15em;
  padding-bottom:0.15em;
}

.materialPickerCheck:checked + label:after{
  padding:2.4px;
  background-clip:content-box;
  border-style:solid;
  border-width: 1.5px;
   -webkit-transform: scale(1.6);
            transform: scale(1.6);
  transition: all 0.2s ease;
}

.colorpicker{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  background:white !important;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.variations{
  display:flex;
  flex:1;
  flex-direction:column;
  justify-content: center;
  text-align: center;
}

.base .variations{
  padding:1em;
}

.advanced .variation{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
    flex-grow:1;
    transition:all 0.2s ease;
}

.base .variation{
    border-radius:50%;
    flex: 1;
    display:flex;
    flex-direction: column;
    flex-basis:1;
    justify-content: space-around;
    cursor:pointer;
    width: 5vw;
    height: 5vw;
    margin:1em;
    transition:all 0.25s;
}

.base .variation:hover{
 box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);


}

.variation-cell{
  display:flex;
}

.variation-divider{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.advanced .variation:hover{
  flex-grow:1.5;
}

.variation .detail{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.variations .noColor{
  font-size:170%;
  color: #757575;
  align-items: stretch;
}

.maincolor{
  padding:1.5em;
}

.actual-container{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:stretch;
  margin-bottom:1em;
  margin-top:0.5em;
}

.actual{
  padding:0.5em;
  color:#fff;
}

.actual-container div{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

#database .card-content{
  padding:3em;
}

.percentuale-container{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.percentuale{
  order:2;
  margin-top:1em;
  margin-bottom:2em;
}

.percentuale-azioni{
  text-align:center;
  order:1;
}

.azioni-button{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.azioni-button span{
  flex-basis:66%;
}
@media only screen and (min-width: 601px) { /*medio*/
  .percentuale-container{
    flex-direction:row;
  }
  .percentuale{
    order:1;
  }
  .percentuale-azioni{
    text-align:left;
    order:2;
  }

}

.elenco-aule-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 97%;
}

@media only screen and (min-width: 601px) {
  .elenco-aule-container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .elenco-aule-container {
    width: 70%;
  }
}

.lista-studenti-item{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap:wrap;
  align-items: center;
}

.collapsible-header .row{
  margin:0px;
}
