.fake-button{
  width:95%;
/*  height:5.5em;*/
  text-align:center;
  height:auto;
  padding:1em;
  border-radius: 2px; !important;
}

.fake-button i{
  margin-bottom:0.5em;
  font-size:36px;
}

.littlemargin{
  margin:5px;
}

.fake-button .row{
  margin:0px !important;
}
.card-content{
  padding-left:5%;
  padding-right:5%;
  padding-bottom:5%
}

.animateButtom{
  transition: all 1 ease;
}

h3
{
  font-size:36px;
  margin-bottom:1em;
}

.contatore{
  font-size:150%;
}

.fill-width{
  width:95%;
}

.c100{
  margin-left:0.4em !important
}

.capitalize{
  text-transform: uppercase;
}

h5{
  margin-bottom:1em;
}
#wait .progress{
  width:70%;
  margin:auto;
}

#wait .determinate{
  width: 0%;
}

.container{
  margin-top:3em;
}

.modal-piccolo{
  max-height: 70%;
  width: 25%;
  border-radius:3px;
}

#collectionCorsiIncompatibili .collection-item{
  display:block !important;
}
#collectionCorsiIncompatibili .collection-item.hover:hover{
  background-color: #ddd;
}
