#body-userhome{
  overflow-y: scroll;
}



#card-cerca, #card-cercaP{
  margin-bottom: 3em;
}

#card-cerca .card-content,
#card-cercaP .card-content{
  padding-top:15px;
  padding-bottom:15px;
}

#card-cerca .card-content .row,
#card-cercaP .card-content .row{
  margin-bottom:0px;
}

#modal-scrivi h3{
  margin-bottom:0.3em;
}

#modal-scrivi .valign-wrapper{
  width:100%;
}

#modal-primoAccesso .container{
  width:60%;
  margin-top:3em;
}

#modal-primoAccesso h1{
  margin-bottom:0.3em;
}

#modal-primoAccesso h4{
  margin-top:0px;
}

#modal-primoAccesso .container{
  width:60%;
  margin-top:3em;
}

#cambiaPassword{
  margin-bottom:1em;
}

.center < #cambiaPassword{
  padding:1em;
}

.collapsibleCorso .collapsible-header > .row{
  margin:0px;
}

@media only screen and (min-width: 993px) {

#cont{
  display: flex;
  flex:1 1 auto;
  justify-content: space-between;
  margin:none;
  width:100%;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;

}

#elencoCorsiContainer{
  width:58%;
  flex-basis: auto;
}

#card-orario-container{
  width:40%;
  flex-basis:auto;
  transition:all 0.2s;
  right:0px;
  position:fixed;

}
  #card-orario.preloader{
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  #card-orario{
    min-height:460px;
    transition:height 0.2s;
    display:auto;
  }

  #card-orario.preloader .card-content{
    display: flex;
    flex-direction:row;
    justify-content: center;
  }

  #card-orario .card-content{
    display:auto;
  }

}
@media only screen and (max-width: 993px) {
  #cont{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:none;
    width:100%;

  }

  #elencoCorsiContainer{
    order:2;
  }

  #card-orario-container{
    order:1;
    }
}

#card-orario{
  overflow-y: auto;
}

#card-orario .card-content{
  padding-top:0px;
}

@media only screen and (max-width: 600px){
.collapsibleCorso{
    margin:0px !important;
  }

  .cont-dett{
    margin-left:5px;
    margin-right:5px;
  }
}
.collapsibleCorso .collapsible-body{
  padding:1.2em;
}

.orario-cell-normal{
  font-size:85%;
  cursor: pointer;
  padding:5px 0px;
}

.orario-cell-normal span{
  display:block;
  font-size:70%;
}


.error-nessun-corso{
  font-size:120%;
}

.collapsibleCorso{
  border-bottom:0px;
}

.coincidenzaTrigger{
  cursor: pointer;
  z-index:900;
}

.coincidenzaTrigger:hover {
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#titoloOrario{
  margin-top:0px;
}

#messaggioPocheOre{
  font-size:120%;
}

.cellaOrario{
  font-size:85%;
  padding:5px 0px;
  margin: 0px !important;
  border-style: hidden !important;
}

.cellaBordo{
  border-bottom: 1px solid #d0d0d0 !important;
}

.cellaOrario span{
  display:block;
  font-size:70%
}

#lezioni_dettagli{
  margin-top:2em;
}

#lezioni_dettagli > .bold{
  font-size:110%;
  margin-bottom:1em;
}

.aulaDettagli{
  display:block;
  font-size:70%;
}

#scegliCorso label{
    color:black;
}

#modal-scegliquale .container{
  width:97%;
}

.iscriviOraModal{
  transition: all 0.2s ease;
}


#pointsFAB i{
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;}

#pointsFAB i:hover{
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

#elencoOreAggiungere::-webkit-scrollbar {
    width: 8px;
    margin-left:3px;
    margin-right:3px;
    background-color: white;
}

#elencoOreAggiungere::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius:4px;
    background-color: <?php echo $accentColor;?>;
}
